.contact {
    margin: 0 auto;
    margin-top: 2rem;
    max-width: 1280px;
    width: 100%;
    height: auto;

    .contactWrap {
        margin-top: 3rem;
        display: flex;
        width: 100%;
        gap: 2rem;
        height: auto;
        justify-content: center;

        .contactAddress {
            width: 36%;
            height: auto;

            .contactAddressText {
                .contactTextHeading {
                    color: #4bb96a;
                    font-size: 1.8rem;
                    font-weight: 600;
                }

                .contactTextDesc {
                    margin: 0.6rem 0 0.2rem 0;
                    color: #ddd;
                    font-size: 1.1rem;
                }
            }

            .contactInfo {
                .contactInfoBox {
                    margin-top: 2rem;

                    h3 {
                        display: flex;
                        align-items: center;

                        .Icon {
                            color: #eee;
                            font-size: 1.3rem;
                        }

                        span {
                            color: #eee;
                            font-weight: 600;
                            font-size: 1.2rem;
                            font-weight: 600;
                            margin-left: 0.6rem;
                        }
                    }

                    p {
                        margin-top: 0.4rem;
                        color: #ddd;
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: '1120px') {
    .contact {
        .contactWrap {
            padding: 0.8rem;

            .contactAddress {
                width: 40%;
            }
        }
    }
}

@media screen and (max-width: '760px') {
    .contact {
        .contactWrap {
            flex-direction: column;

            .contactAddress {
                margin: 0 auto;
                width: 100%;
                max-width: 380px;
            }
        }
    }
}