.dashboardList {
    margin-top: 1rem;
    width: 100%;
    border-collapse: collapse;

    thead > tr {
        background: rgba(46, 139, 87, 0.4);
    }

    tbody > tr {
        border-bottom: 1px solid #333;
    }

    thead > tr > th,
    tbody > tr > td {
        border: none;
        padding: 0.6rem 0;
        text-align: center;
        color: #fff;
        font-size: 1rem;
    }

    tbody > tr > td > span {
        margin-bottom: 0.15rem;
        font-size: 1rem;
        font-weight: 500;
        cursor: pointer;
    }

    tbody > tr > td > select {
        padding: 0.15rem 0.2rem;
        border: none;
        outline: none;
        color: #fff;
        font-size: 0.9rem;
        border-radius: 0.1rem;

        option {
            color: #fff;
            background: #222;
        }
    }

    tbody > tr > td > span.status {
        margin: 0 auto;
        padding: 0.2rem 0;
        display: flex;
        width: 6rem;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 0.9rem;
        border-radius: 0.1rem;
    }

    tbody > tr > td > select.pending,
    tbody > tr > td > span.pending {
        color: #222;
        background: silver;
    }

    tbody > tr > td > select.packing,
    tbody > tr > td > span.packing {
        color: #fff;
        background: olivedrab;
    }

    tbody > tr > td > select.on-the-way,
    tbody > tr > td > span.on-the-way {
        color: #fff;
        background: #356791;
    }

    tbody > tr > td > select.delivered,
    tbody > tr > td > span.delivered {
        color: #fff;
        background: #369837;
    }

    tbody > tr > td > select.canceled,
    tbody > tr > td > span.canceled {
        color: #fff;
        background: #c20707;
    }

    .listDetailsBtn {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        color: #4bb96a;
        font-size: 1rem;
    }
}