.dashboardLayout {
    margin: 2rem auto;
    max-width: 1280px;
    width: 100%;
    display: flex;

    .dashboardDetails {
        flex: 4;
        margin-left: 2rem;
        position: relative;
        overflow: hidden;

        .dashboardTitle > h2 {
            padding-bottom: 0.8rem;
            color: #fff;
            font-size: 1.6rem;
            border-bottom: 2px dashed #333;
        }
    }
}