.cartAmountDetails {
    .cartTotalPriceBox {
        padding: 1rem;
        width: 100%;
        height: auto;
        border-radius: 0.2rem;
        background: #222;
        background-image: linear-gradient(45deg, transparent 0%, transparent 11%,rgba(156, 156, 156,0.06) 11%, rgba(156, 156, 156,0.06) 81%,transparent 81%, transparent 100%),linear-gradient(45deg, transparent 0%, transparent 18%,rgba(156, 156, 156,0.06) 18%, rgba(156, 156, 156,0.06) 64%,transparent 64%, transparent 100%),linear-gradient(135deg, transparent 0%, transparent 13%,rgba(156, 156, 156,0.06) 13%, rgba(156, 156, 156,0.06) 22%,transparent 22%, transparent 100%),linear-gradient(90deg, rgb(0,0,0),rgb(0,0,0));
    
        .cartPriceBox {
            padding: 0.6rem 0;
            display: flex;
            width: 100%;
            height: auto;
            align-items: center;
            justify-content: space-between;
    
            p {
                color: #ddd;
                font-size: 1rem;
                text-transform: uppercase;
                letter-spacing: 0.8px;
            }
    
            p:nth-child(1) {
                color: #4bb96a;
                font-weight: 500;
            }
        }
    
        .voucherInputBox {
            margin-top: 1rem;
            display: flex;
            width: 100%;
            height: 42px;
            align-items: center;
            justify-content: space-between;
            border: 2px dashed #4bb96a;
            border-radius: 0.1rem;
    
            input {
                padding-left: 0.6rem;
                font-size: 1.1rem;
                font-weight: 500;
                text-transform: uppercase;
                letter-spacing: 0.8px;
                height: 100%;
                width: 70%;
                border: none;
                outline: none;
                border-right: 2px dashed #4bb96a;
                background: transparent;
                box-sizing: border-box;
                border-radius: 0.1rem;
            }
    
            ::placeholder {
                font-size: 1rem;
                font-weight: 500;
                letter-spacing: 0.8px;
                text-transform: uppercase;
            }
    
            button {
                color: #4bb96a;
                height: 100%;
                width: 30%;
                border: none;
                outline: none;
                font-size: 1.1rem;
                font-weight: 500;
                text-transform: uppercase;
                letter-spacing: 0.8px;
                background: transparent;
                border-radius: 0.1rem;
                cursor: pointer;
            }
        }
    
        .totalCostBox {
            margin-top: 1.4rem;
            padding-top: 1rem;
            border-top: 1px solid #333;
    
            p {
                font-size: 1.1rem;
                font-weight: 500;
            }
        }
    }
}