.productsHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .searchBar {
        display: flex;
        height: 2.4rem;
        width: 350px;
        align-items: center;
        border-radius: 0.2rem;
        background: #222;
        overflow: hidden;

        .productSearchIconBox {
            display: flex;
            width: 15%;
            height: 100%;
            align-items: center;
            justify-content: center;
            background: #111;    
                        
            .productSearchIcon {
                color: #fff;
                font-size: 1.2rem;
            }
        }

        input {
            padding-left: 0.8rem;
            color: #fff;
            font-size: 1.1rem;
            height: 100%;
            width: 85%;
            background: transparent;
            border: none;
            outline: none;
        }
    }

    .productCountBox {
        .productCount {
            color: #ddd;
            font-size: 1.1rem;
        }
    }
}

@media screen and (max-width: '500px') {
    .productsHeader {
        flex-direction: column;
    
        .productCountBox {
            margin-top: 1.6rem;
        }
    }
}

@media screen and (max-width: '500px') {
    .productsHeader {
        .searchBar {
            width: 100%;
        }
    }
}