@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200;300;400;500;600;700;800;900&family=Rubik+Vinyl&display=swap');

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
}

body {
    color: #fff;
    background-image: radial-gradient(circle at center center, rgba(46, 46, 46,0.05) 0%, rgba(46, 46, 46,0.05) 22%,rgba(136, 136, 136,0.05) 22%, rgba(136, 136, 136,0.05) 26%,rgba(106, 106, 106,0.05) 26%, rgba(106, 106, 106,0.05) 66%,rgba(196, 196, 196,0.05) 66%, rgba(196, 196, 196,0.05) 77%,rgba(166, 166, 166,0.05) 77%, rgba(166, 166, 166,0.05) 93%,rgba(76, 76, 76,0.05) 93%, rgba(76, 76, 76,0.05) 100%),radial-gradient(circle at center center, rgb(20,20,20) 0%, rgb(20,20,20) 8%,rgb(20,20,20) 8%, rgb(20,20,20) 46%,rgb(20,20,20) 46%, rgb(20,20,20) 60%,rgb(20,20,20) 60%, rgb(20,20,20) 80%,rgb(20,20,20) 80%, rgb(20,20,20) 82%,rgb(20,20,20) 82%, rgb(20,20,20) 100%); 
    background-size: 43px 43px;
}

.link {
    color: #fff;
    text-decoration: none;
}

.header {
    padding: 1.2rem 0;
    width: 100%;
    border-bottom: 2px dashed #333;

    .navbar {
        margin: 0 auto;
        display: flex;
        max-width: 1280px;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    .brandName {
        font-size: 1.6rem;
        font-weight: bold;
        text-decoration: none;
    }

    .navLink {
        padding: 0 1.4rem;
        font-size: 1.2rem;
        font-weight: 500;
    }

    .navIconLinks {
        display: flex;
        align-items: center;

        .iconLink {
            margin-left: 1.4rem;

            .navIcon {
                font-size: 1.4rem;
            }
        }
    }
}


.home {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;

    .homeHeader {
        display: flex;
        width: 100%;
        height: 6rem;
        align-items: center;
        justify-content: space-between;

        .contactInfo {
            display: flex;
            align-items: center;

            .contactIcon {
                font-size: 1.1rem;
            }

            .contactTitle {
                padding-left: 0.6rem;
                color: #fff;
                font-size: 1rem;
            }
        }

        .searchBox {
            height: 2.2rem;
            width: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #222;
            border-radius: 0.1rem;
            box-shadow: 0.2rem 0.2rem 0.6rem #000;
            overflow: hidden;

            input {
                padding: 0 0.8rem;
                color: #222;
                font-size: 1rem;
                width: 85%;
                height: 100%;
                border: none;
                outline: none;
                background: #eee;
                box-sizing: border-box;
            }

            .searchIcon {
                color: #fff;
                width: 15%;
                font-size: 1.1rem;
            }
        }
    }

    .homeBanner {
        position: relative;
        height: 400px;
        width: 100%;
        border-radius: 0.4rem;
        overflow: hidden;

        .homeBannerImage {
            position: relative;
            height: 100%;
            width: 100%;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .homeBannerImage::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, 0.3);
        }

        .homeBannerTitle {
            position: absolute;
            top: 4rem;
            left: 4rem;

            .homeBannerText {
                color: #d5fa9e;
                font-size: 4rem;
                text-shadow: 0.2rem 0.2rem 0.4rem #000;
                font-family: 'Rubik Vinyl', cursive;
                letter-spacing: 10px;
            }
            
            .homeBannerText:nth-child(2) {
                animation-delay: 0.4s;
            }

            .homeBannerButton {
                margin-top: 2rem;
                padding: 0.8rem 1.2rem;
                border: none;
                outline: none;
                color: #fff;
                cursor: pointer;
                font-size: 1.4rem;
                font-weight: 500;
                border-radius: 0.1rem;
                background: #369837;
                box-shadow: 0.1rem 0.1rem 1rem #222;
                font-family: 'Rubik Vinyl', cursive;
                animation-delay: 0.8s;
            }
        }
    }

    .homeCategories {
        margin-top: 5rem;
        margin-bottom: 5rem;

        .homeCategiriesTitle {
            margin-bottom: 1.2rem;
            font-size: 1.2rem;
        }

        .categoryContent {
            margin-top: 1rem;
            display: grid;
            grid-gap: 1.2rem;
            grid-template-columns: 1fr 1fr 1fr 1fr;
    
            .categoryLink {
                padding: 1rem;
                color: #fff;
                height: 6rem;
                box-sizing: border-box;
                border-radius: 0.2rem;
                text-shadow: 0.2rem 0.2rem 0.4rem #000;
                box-shadow: 0.2rem 0.2rem 0.6rem #000;
    
                p:nth-child(1) {
                    font-size: 1.2rem;
                }
    
                p:nth-child(2) {
                    margin-top: 0.3rem;
                    font-size: 1.1rem;
                }
            }
    
            .categoryAllBox {
                background: linear-gradient(45deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('./images/categories/shop.jpg');
                background-size: cover;
                background-position: center;
            }
    
            .vegetableBox {
                background: linear-gradient(45deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('./images/categories/vegetables.jpg');
                background-size: cover;
                background-position: center;
            }
    
            .fruitBox {
                background: linear-gradient(45deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('./images/categories/fruits.jpg');
                background-size: cover;
                background-position: center;
            }
              
            .meatFishBox {
                background: linear-gradient(45deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('./images/categories/meat.jpg');
                background-size: cover;
                background-position: center;
            }
              
            .eggBox {
                background: linear-gradient(45deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('./images/categories/eggs.jpg');
                background-size: cover;
                background-position: center;
            }
              
            .teaCoffeBox {
                background: linear-gradient(45deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('./images/categories/tea.jpg');
                background-size: cover;
                background-position: center;
            }
              
            .spiceBox {
                background: linear-gradient(45deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('./images/categories/spices.jpg');
                background-size: cover;
                background-position: center;
            }
              
            .dryFruitBox {
                background: linear-gradient(45deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('./images/categories/dry-fruits.jpg');
                background-size: cover;
                background-position: center;
            }
              
            .biscuitCakeBox {
                background: linear-gradient(45deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('./images/categories/biscuits.jpg');
                background-size: cover;
                background-position: center;
            }
              
            .jamJellieBox {
                background: linear-gradient(45deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('./images/categories/jams.jpg');
                background-size: cover;
                background-position: center;
            }
              
            .breadBox {
                background: linear-gradient(45deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('./images/categories/breads.jpg');
                background-size: cover;
                background-position: center;
            }
        }
    }
}


.login, .signup {
    margin: 0 auto;
    max-width: 1280px;
    display: grid;
    width: 100%;
    height: calc(100vh - 6rem);
    place-items: center;

    .loginContent, .signupContent {
        padding: 0.2rem;
        width: 320px;
        height: auto;

        .loginTitle, .signupTitle {
            padding: 0.4rem 0;

            h1 {
                color: #fff;
                font-size: 1.8rem;
                font-weight: bold;
            }
        }

        .errorBox {
            display: flex;
            align-items: center;
            margin-top: 0.4rem;
            padding: 0.4rem 0.2rem;
            background: rgb(255, 0, 0, 0.4);
            border-radius: 0.2rem;

            .errorIcon {
                display: flex;
                width: 10%;
                justify-content: center;

                .warning {
                    color: #fff;
                    font-size: 1.2rem;
                }
            }

            .errorMsg {
                padding-left: 0.2rem;
                font-size: 1rem;
                color: #fff;
                width: 90%;
            }
        }

        form {
            display: flex;
            width: 100%;
            height: auto;
            flex-direction: column;

            input {
                margin-top: 1.2rem;
                padding: 0 0.8rem;
                color: #fff;
                font-size: 1.2rem;
                height: 45px;
                width: 100%;
                border: 2px dashed #333;
                outline: none;
                background: none;
            }

            .forgotPassLink {
                padding: 0.4rem 0 0 0.4rem;
                color: #eee;
                font-size: 1rem;
            }

            .loginBtn, .signupBtn {
                margin-top: 1.2rem;
                padding: 0.6rem 0;
                color: #fff;
                font-size: 1.2rem;
                font-weight: bold;
                width: 100%;
                border: none;
                outline: none;
                cursor: pointer;
                background: #222;
                border-radius: 0.1rem;
            }

        }

        .signupLinkText, .loginLinkText {
            margin-top: 1.4rem;
            font-size: 1.1rem;
            text-align: center;

            .signupLink, .loginLink {
                color: #ddd;
            }
        }

    }
}


.userDetails {
    margin: 2rem auto;
    max-width: 1280px;
    width: 100%;
    display: flex;
    
    .sidebar {
        flex: 1;
        height: auto;
        width: 100%;

        .sidebarItem {
            padding: 0.6rem 0 0.6rem 1rem;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            background: rgba(0, 0, 0, 0.5);
            border-bottom: 1px solid #222;
            border-radius: 0.2rem;
            cursor: pointer;
            
            .sidebarIcon {
                color: #fff;
                font-size: 1.2rem;
            }

            p {
                color: #fff;
                font-size: 1.1rem;
                padding-left: 0.6rem;
            }
        }

        .sidebarItem:last-child {
            border: none;
        }
    }

    .detailsInfo {
        flex: 4;
        margin-left: 2rem;
        
        .myProfile > h2 {
            padding-bottom: 1.2rem;
            color: #fff;
            font-size: 1.6rem;
        }
            
        .profileContent {
            margin-top: 1rem;
            display: flex;
            align-items: flex-start;

            .profileImage {
                margin-bottom: 1.4rem;
                height: 120px;
                width: 140px;
                border-radius: 0.2rem;
                overflow: hidden;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            .profileDetails {
                margin-left: 2rem;

                .profileDetailsInfo {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 1rem;
    
                    p {
                        display: flex;
                        width: 380px;
                        align-items: flex-start;
                        color: #fff;
                        font-size: 1.2rem;
                        padding-bottom: 0.4rem;
    
                        strong {
                            width: 25%;
                            color: seagreen;
                        }

                        span {
                            width: 75%;
                            color: #fff;
                        }
                    }
                }

                button {
                    margin-top: 1.8rem;
                    padding: 0.1rem 0.4rem 0.3rem;
                    color: #fff;
                    font-size: 1.1rem;
                    border: none;
                    outline: none;
                    background: crimson;
                    border-radius: 0.2rem;
                    cursor: pointer;
                }
            }
        }
    }
}