.footerContent {
    padding: 2rem;
    margin: 0 auto;
    margin-top: 8rem;
    width: 100%;
    max-width: 1280px;
    display: grid;
    grid-column-gap: 1.2rem;
    grid-template-columns: 2fr 1fr 1.2fr 1.2fr 2fr;
    background: transparent;
    border-top: 1px solid #222;

    .footerBox.fBox1 {
        .logo {
            .brandName {
                color: #4bb96a;
                font-size: 1.4rem;
                font-weight: bold;
            }
        }

        .fDesc {
            margin-top: 1rem;
            p {
                color: #ddd;
                font-size: 1rem;
            }
        }

        .fLinks {
            margin-top: 1.4rem;
            display: flex;
            width: 100%;
            height: auto;
            justify-content: flex-start;

            .fLink {
                margin-right: 1rem;
                color: #888;
                font-size: 1.2rem;
                text-decoration: none;
            }
        }
    }

    .footerBox.fBox2, .footerBox.fBox3, .footerBox.fBox4 {
        .fBoxTitle {
            margin-bottom: 0.6rem;
            color: #4bb96a;
            font-size: 1.2rem;
            font-weight: 600;
        }

        .navLink {
            color: #ddd;
            font-size: 1.1rem;
            display: block;
            padding: 0.4rem 0;
        }
    }

    .footerBox.fBox5 {
        .fBoxTitle {
            margin-bottom: 0.6rem;
            color: #4bb96a;
            font-size: 1.2rem;
            font-weight: 600;
        }

        .paymentImageWrap {
            margin-top: 1rem;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;

            .imgBox {
                margin-right: 1rem;
                width: 5rem;
                height: 3rem;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    cursor: pointer;
                }
            }
        }
    }
}

.copyrightBox {
    padding: 2rem;
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(circle at 99% 33%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 37%,transparent 37%, transparent 100%),radial-gradient(circle at 46% 16%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 43%,transparent 43%, transparent 100%),radial-gradient(circle at 99% 25%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 22%,transparent 22%, transparent 100%),radial-gradient(circle at 57% 88%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 86%,transparent 86%, transparent 100%),radial-gradient(circle at 82% 78%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 22%,transparent 22%, transparent 100%),linear-gradient(90deg, rgb(0,0,0),rgb(0,0,0));
    background-attachment: fixed;
    border-top: 1px solid #222;

    p {
        color: #fff;
        font-size: 1rem;
        font-weight: 500;

        a {
            color: #4bb96a;
            font-size: 1rem;
            font-weight: 500;
            text-decoration: none;
        }
    }
}