*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

body {
    color: #fff;
    background-image: repeating-linear-gradient(0deg, rgb(17, 17, 17) 0px, rgb(17, 17, 17) 1px,transparent 1px, transparent 51px),repeating-linear-gradient(90deg, rgb(17, 17, 17) 0px, rgb(17, 17, 17) 1px,transparent 1px, transparent 51px),linear-gradient(90deg, hsl(49,0%,3%),hsl(49,0%,3%));
    background-attachment: fixed;
}

.titleWrap {
  width: 100%;

  .titleBox {
    display: flex;
    align-items: center;
    justify-content: center;

    .title {
      padding: 0 0.3rem;
      color: #4bb96a;
      font-size: 1.8rem;
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    .titleImg {
      width: 40px;
      height: 40px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      .imgLeft {
        transform: scaleX(-1);
      }
    }
  }

  .titleDesc {
    margin-top: 0.6rem;
    color: #ddd;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
  }
}


.link {
    color: #fff;
    text-decoration: none;
}