.header {
    padding: 1.2rem 0;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-image: repeating-linear-gradient(0deg, rgb(17, 17, 17) 0px, rgb(17, 17, 17) 1px,transparent 1px, transparent 51px),repeating-linear-gradient(90deg, rgb(17, 17, 17) 0px, rgb(17, 17, 17) 1px,transparent 1px, transparent 51px),linear-gradient(90deg, hsl(49,0%,3%),hsl(49,0%,3%));
    border-bottom: 2px dashed #333;
    z-index: 9999;

    .navbar {
        margin: 0 auto;
        display: flex;
        max-width: 1280px;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    .brandName {
        font-size: 1.6rem;
        font-weight: bold;
        text-decoration: none;
    }

    .navLink {
        padding: 0 1.4rem;
        font-size: 1.2rem;
        font-weight: 500;
    }

    .navIconLinks {
        display: flex;
        align-items: center;

        .iconLink {
            margin-left: 1.4rem;

            .navIcon {
                font-size: 1.4rem;
            }
        }
    }
}