.subProducts {
    margin: 4rem 0 10rem 0;

    .subProductsHeader {
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
            
        .title {
            font-size: 1.4rem;
            font-weight: 500;
        }

        .viewAllLink {
            color: #39db3c;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            .viewAll {
                color: #39db3c;
                font-size: 1.1rem;
                font-weight: 500;
                margin-right: 0.3rem;
            }

            .arrow {
                font-size: 1.2rem;
            }
        }

        
    }

    .subProductsWrap {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-row-gap: 2rem;
        grid-column-gap: 1.2rem;
    }
}